# Copy this file to .env.local and fill it locally.
# Do not commit .env.local to GitHub.

SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

MANAGER_EMAIL=omar@os-legal.net
MANAGER_PASSWORD=
MANAGER_FULL_NAME=Omar Mosaad

LAWFIRM_EMAIL=zeyad@os-legal.net
LAWFIRM_PASSWORD=
LAWFIRM_FULL_NAME=zeyad sameh
